/* <div id="container" class="flex-container"> */
body {
    background-color: black;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex: 1 1 0%;
    background-color: white;
    height: 70px;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.flex-container .hovered {
    flex: 1 1 0%;
    background-color: black;
    height: 70px;
    border: 2px;
    border-style: solid;
    border-color: whitesmoke;
}

